body{
    background-color: beige;
}
.container{
    display: flex;
    justify-content: center;
   column-gap: 50px;
    border: 1px solid black;
    padding: 50px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
   
    
}
.childCom {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 250px;
    width: 25%;
   

}
/*#childcom2{
    margin-top: 10px;
}*/